* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/Images/contours.png"); /* Image background */
  overflow: hidden; /* Hide scrollbars coz thats annoying */
  
}

mark { /* Marks content on pages for me */
  background-color: #ffcb6e;
  color: #333;
  border-radius: 8px;


}

.sidenav2 {
  padding-top: 50%;
  padding-left: 45%;
  height: 10%;
  width: 45%;
  z-index: 200;
  background-color: rgb(255, 0, 0);
}

.content h2 {
  text-align: left;
color: white;
font-size: 90px;
padding-top: 50px;
padding-left: 7%;
position: absolute;
z-index: 100;
font-family: 'Cormorant Garamond', serif;
font-weight: 500;
font-style: light italic;

}
/*  Scroll bar go poof */
.sidenav::-webkit-scrollbar {
    display: none;
  }


.sidenav {
 padding-top: 300px; /* up down text */
  height: 100%;
  width: 650px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: (#333 / 15%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  overflow-x: hidden;
  padding-left: 130px;
  padding-right: 0px;
  
}

.square {
  height: 246px;
  width: 650px;
  background-color: (#333 / 15%);
  backdrop-filter: blur(3px);
  z-index: 10;
  position: absolute;
}

/* Side navigation links */
.sidenav a {
  margin-top: 35px;
  font-size: 55px;
  color: rgb(255, 255, 255);
  padding: 8.9px;
  text-decoration: none;
  display: block;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
}

/* hover */
.sidenav a:hover {
  border-radius: 200px;
  background-color: (#333 / 15%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  color: #ffcb6e;
  padding-left: 50px; /* Makes selection more apparent */
  font-size: 54px;
}

/* Main page contents */
.content {
  color: white;
}


.sidetxt h2 {
  font-size: 50px;
  padding-top: 140px;
  padding-left: 1135px;
  position: absolute;
  z-index: 90;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  color: white;
}



.line1 {
  border-radius: 3.5px; /* lil flair on the line */
  padding-top: 245px;
  margin-left: 100px;
  width: 400px;
  height: 47px;
  border-bottom: 3px solid #ffcb6e;;
  position: absolute;
  z-index: 90;
}

img[src*="/Images/scroll.png"] {
  opacity: 40%;
  padding-top: 800px;
  position: absolute;
  z-index: 90;
}

img[src*="JavaScript_logo_.svg.png"] {
  opacity: 100%;
  position: absolute;
  width: 460px;
  z-index: 90;
  border-radius: 30px;
}



.homepageimg { /*homepage immage*/
  opacity: 70%;
  padding-left: 10%;
}

.form {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  color: white;
  height: 660px;
  width: 800px;
  background-color: (#333 / 15%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  z-index: 100;
  position: absolute;
  margin-left: 900px;
  margin-top: 260px;
  border-radius: 40px;
  padding: 20px;
}



.submit {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  background-color: #3d3c3b;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #ffcb6e;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 20%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.subbox {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  color: white;
  height: 600px;
  width: 800px;
  background-color: (#333 / 15%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  z-index: 100;
  position: absolute;
  margin-left: 900px;
  margin-top: 300px;
  border-radius: 40px;
  padding: 20px;
}

.subboxhome {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  color: white;
  height: 500px;
  width: 538px;
  background-color: (rgb(0, 0, 0) / 35%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  z-index: 100;
  position: absolute;
  margin-left: 720px;
  margin-top: 300px;
  border-radius: 40px;
  padding: 20px;
}
.subboxhome2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  color: white;
  height: 500px;;
  width: 500px;
  background-color: (rgb(0, 0, 0) / 35%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  z-index: 100;
  position: absolute;
  margin-left: 1300px;
  margin-top: 300px;
  border-radius: 40px;
  padding: 20px;
}





.Homepage {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  color: white;
  height: 500px;
  width: 800px;
  background-color: (#333 / 15%);
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 0px 10px rgb(0 0 0 / 35%);
  z-index: 100;
  position: absolute;
  margin-left: 900px;
  margin-top: 300px;
  border-radius: 40px;
  padding: 20px;
}


.LinkA {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  background-color: #3d3c3b;
  border-radius: 12px;
  border: 0;
  color: #ffcb6e;
  cursor: pointer;
  font-size: 18px;
  outline: 0;
  text-align: center;
  padding: 20px;
  width: 20%;
}

.LinkB {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: semibold;
  background-color: #3d3c3b;
  border-radius: 12px;
  border: 0;
  color: #ffcb6e;
  cursor: pointer;
  font-size: 18px;
  outline: 0;
  text-align: center;
  padding: 10px;
  width: 15%;
}

a:link {
  text-decoration: none;
  appearance: button;

}

.dark-mode {
  background-image: url("/Images/blacktopographic.jpg");
  
}

.toggletheme {
  margin-top: 20px;
  margin-left: 1820px;
  
}

.buttona {
  width: 74px;
  height: 74px;
  border-radius: 55px;
  opacity: 50%;
  background-image: url("/Images/icons8-sun-70.png");
  background-repeat: no-repeat;

}

p {
  text-align: justify;
}
